<template>
    <div>
		<select class="form-control shiftlist-select" v-model="selectedOption" v-on:change="handleChange" v-bind:class="{ 'bg-success': update_successful, 'bg-danger': updated_failed }">
			<option v-for="option in options" :value="option.value">{{ option.text }}</option>
		</select>
    </div>
</template>

<script>
    export default {
        props: {
            options: {
                type: Array
            },
            day: {
                type: String,
                required: true
            },
            userid: {
                type: String,
                required: true
            },
            selected: {
                type: String,
                default: ''
            }
        },

        created(){
            var that = this;
            this.options.forEach(function (item) {
                if (item.default) {
                    that.selectedOption = item.value;
                }
            });

            if (this.selected != '') {
                this.selectedOption = this.selected;
            }
        },

        data() {
            return {
                selectedOption: '',
                update_successful: false,
                updated_failed: false
            }
        },

        methods: {
        	handleChange() {
                var data = {
                    userid: parseInt(this.userid),
                    day: this.day,
                    time: this.selectedOption
                };

				this.update_successful = false;
				this.updated_failed = false;

                this.$http.post('/api/shiftlist/update', data).then(function (response) {
                    toastr.success('Einstellung gespeichert');
                    this.update_successful = true;
                }, function(response) {
					toastr.error('Einstellungen konnten nicht gespeichert werden');
					this.updated_failed = true;
                });
            }
        }
    }
</script>

