.vmiddle, .vmiddle td, .vmiddle th {
    vertical-align: middle!important;
}

header.navbar a.navbar-brand {
    background-image:url(../img/logo.png);
    background-size: 140px auto;
}

.hidden {
    display: none;
}

h1.h2 {
    margin-bottom: 20px;
}

.sidebar-bottom {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    left: 25px;
    text-align: center;
}

.text-center {
    text-align: center;
}